/* for small devices 
@media (min-width: 576px) {
    .wrapper-large {
        display: none;
    }
}*/
/* for extra-large devices */
@media (min-width: 960px) { 
   .small {
       display: none;
   } 
   
 }

 @media (max-width: 960px) {
     .large {
         display: none;
     }

     .logo {
         font-size: 1rem;
     }
 }

.dot {
    color: lightcoral;
}

sub {
    font-variant-position: super
}
#logo:hover {
    
    transform: scale(2,2);
}
.text-color {
    color: darkkhaki
}

.text-heading {
    color: peachpuff
}
nav a {
    font-family: 'Poiret One';
    font-style: oblique;
    text-decoration: black;
    color: lavender
}

nav a:hover {
    color: darksalmon
}
.dropdown-item {
    display: flex;
    background: rgb(48, 52, 56)
}

.dropdown-item:hover {
    background: darkslategrey;
    color:  lavender
}


.profile {
    list-style: none;
    display: inline-flex;
}

.logo{
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    color: lavender;
}
