<div class="card-columns p-5">
  <div class="card card-w" [routerLink]="['/', 'product',offer.userId,offer._id]">
      <div class="card-img">
        <img class="card-img-top" src="../../../../assets/opentable-scenic-restaurants.jpg" alt="Card image cap">
        <div class="card-rating bg-white border-bottom px-2 py-1">
          Rating <span>|</span> {{offer.offerRating}}
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title text-heading">{{offer.offerTitle}}</h5>
        <p class="card-text text-lead ">
          <span class="border border-danger rounded px-2 py-1 mb-3">{{offer.discount}}% off</span>
          <br/>
          <span class="offer-deleted-price">MRP:<del>₹{{offer.originalPrice}}</del></span>
          <span>₹{{priceAfterDiscount}}</span>
        </p>
      </div>
      <div class="card-footer py-1">
        <small class="text-muted">Last updated: {{offer.dateOfAnnouncement | date}}</small>
      </div>
  </div>
  <div class="card card-w" [routerLink]="['/', 'product',offer.userId,offer._id]">
      <div class="card-img">
        <img class="card-img-top" src="../../../../assets/opentable-scenic-restaurants.jpg" alt="Card image cap">
        <div class="card-rating bg-white border-bottom px-2 py-1">
          Rating <span>|</span> {{offer.offerRating}}
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title text-heading">{{offer.offerTitle}}</h5>
        <p class="card-text text-lead ">
          <span class="border border-danger rounded px-2 py-1 mb-3">{{offer.discount}}% off</span>
          <br/>
          <span class="offer-deleted-price">MRP:<del>₹{{offer.originalPrice}}</del></span>
          <span>₹{{priceAfterDiscount}}</span>
        </p>
      </div>
      <div class="card-footer py-1">
        <small class="text-muted">Last updated: {{offer.dateOfAnnouncement | date}}</small>
      </div>
  </div>
  <div class="card card-w" [routerLink]="['/', 'product',offer.userId,offer._id]">
      <div class="card-img">
        <img class="card-img-top" src="../../../../assets/opentable-scenic-restaurants.jpg" alt="Card image cap">
        <div class="card-rating bg-white border-bottom px-2 py-1">
          Rating <span>|</span> {{offer.offerRating}}
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title text-heading">{{offer.offerTitle}}</h5>
        <p class="card-text text-lead ">
          <span class="border border-danger rounded px-2 py-1 mb-3">{{offer.discount}}% off</span>
          <br/>
          <span class="offer-deleted-price">MRP:<del>₹{{offer.originalPrice}}</del></span>
          <span>₹{{priceAfterDiscount}}</span>
        </p>
      </div>
      <div class="card-footer py-1">
        <small class="text-muted">Last updated: {{offer.dateOfAnnouncement | date}}</small>
      </div>
  </div>
  <div class="card card-w" [routerLink]="['/', 'product',offer.userId,offer._id]">
      <div class="card-img">
        <img class="card-img-top" src="../../../../assets/opentable-scenic-restaurants.jpg" alt="Card image cap">
        <div class="card-rating bg-white border-bottom px-2 py-1">
          Rating <span>|</span> {{offer.offerRating}}
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title text-heading">{{offer.offerTitle}}</h5>
        <p class="card-text text-lead ">
          <span class="border border-danger rounded px-2 py-1 mb-3">{{offer.discount}}% off</span>
          <br/>
          <span class="offer-deleted-price">MRP:<del>₹{{offer.originalPrice}}</del></span>
          <span>₹{{priceAfterDiscount}}</span>
        </p>
      </div>
      <div class="card-footer py-1">
        <small class="text-muted">Last updated: {{offer.dateOfAnnouncement | date}}</small>
      </div>
  </div>
   <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
        <p>See more</p>
      </blockquote>
    </div>
  <div class="card card-w" [routerLink]="['/', 'product',offer.userId,offer._id]">
      <div class="card-img">
        <img class="card-img-top" src="../../../../assets/opentable-scenic-restaurants.jpg" alt="Card image cap">
        <div class="card-rating bg-white border-bottom px-2 py-1">
          Rating <span>|</span> {{offer.offerRating}}
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title text-heading">{{offer.offerTitle}}</h5>
        <p class="card-text text-lead ">
          <span class="border border-danger rounded px-2 py-1 mb-3">{{offer.discount}}% off</span>
          <br/>
          <span class="offer-deleted-price">MRP:<del>₹{{offer.originalPrice}}</del></span>
          <span>₹{{priceAfterDiscount}}</span>
        </p>
      </div>
      <div class="card-footer py-1">
        <small class="text-muted">Last updated: {{offer.dateOfAnnouncement | date}}</small>
      </div>
  </div>
  <div class="card card-w" [routerLink]="['/', 'product',offer.userId,offer._id]">
      <div class="card-img">
        <img class="card-img-top" src="../../../../assets/opentable-scenic-restaurants.jpg" alt="Card image cap">
        <div class="card-rating bg-white border-bottom px-2 py-1">
          Rating <span>|</span> {{offer.offerRating}}
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title text-heading">{{offer.offerTitle}}</h5>
        <p class="card-text text-lead ">
          <span class="border border-danger rounded px-2 py-1 mb-3">{{offer.discount}}% off</span>
          <br/>
          <span class="offer-deleted-price">MRP:<del>₹{{offer.originalPrice}}</del></span>
          <span>₹{{priceAfterDiscount}}</span>
        </p>
      </div>
      <div class="card-footer py-1">
        <small class="text-muted">Last updated: {{offer.dateOfAnnouncement | date}}</small>
      </div>
  </div>
  <div class="card card-w" [routerLink]="['/', 'product',offer.userId,offer._id]">
      <div class="card-img">
        <img class="card-img-top" src="../../../../assets/opentable-scenic-restaurants.jpg" alt="Card image cap">
        <div class="card-rating bg-white border-bottom px-2 py-1">
          Rating <span>|</span> {{offer.offerRating}}
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title text-heading">{{offer.offerTitle}}</h5>
        <p class="card-text text-lead ">
          <span class="border border-danger rounded px-2 py-1 mb-3">{{offer.discount}}% off</span>
          <br/>
          <span class="offer-deleted-price">MRP:<del>₹{{offer.originalPrice}}</del></span>
          <span>₹{{priceAfterDiscount}}</span>
        </p>
      </div>
      <div class="card-footer py-1">
        <small class="text-muted">Last updated: {{offer.dateOfAnnouncement | date}}</small>
      </div>
  </div>
</div>
