.card-w{
	cursor: pointer;
	max-width: 18rem;
	min-width: 18rem;
	min-height: 22rem;
	max-height: 22rem;
}

.card-data {
	margin-left: -1.1rem;
	font-family: 'Julius Sans One', sans-serif;
	margin-top: -0.5rem;
}

.card-discount {
	font-family: 'Poiret One', cursive;
}

.card-heading {
	font-size: 0.9rem;
}
/* .card-img {
	position: relative;
}

.card-rating {
	border-radius: 0px 5px 0px 0px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.offer-deleted-price {
	color: #999;
	font-size: 14px;
}

.card-rating span {
	color: #999;
}

.card:hover {
	cursor: pointer;
} */
