<div class = "container">
  <div col align-self-center>
    <nav class="navbar navbar-light bg-light">
      <form id="search" class="form-inline my-2 my-lg-0">
          <select name="category-selected" class="dropdown btn btn-light dropdown-toggle mr-2" [(ngModel)]="category">
            <option class="dropdown-item" selected>All</option>
            <option class="dropdown-item">sports</option>
            <option class="dropdown-item">clothing</option>
            <option class="dropdown-item">food</option>
          </select>
        <input id="input" list="suggestions" name="query" [(ngModel)]="query" class="form-control mr-sm-2 search-box" (keyup)="searchTerm$.next($event.target.value)" autocomplete="off" type="text"
        placeholder="Search for your favorite deals here" aria-label="Search">
        <!-- search button -->
        <!-- on click of button show values for category and field-->
          <button id="searchButton" [routerLink] ="['/search/',category,query]" type="button" (click)="showValue()" class="btn btn-light search-btn"><i class="fas fa-search"></i></button>
      </form>
    </nav>
  </div>
</div>