	<div class="row">
		<div class="col-md-12 py-3 header">
			<div class="row">
				<div class="col-md-4 logo">
					<img alt="Bootstrap Image Preview" src="http://www.layoutit.com/img/sports-q-c-140-140-3.jpg" width="40px" height="40px">
				</div>
				<div class="col-md-4">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link active text-white" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="#">Shop</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="#">Contact</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="nav nav-pills">
						<li class="nav-item dropdown ml-md-auto">
							 <a class="nav-link dropdown-toggle btn btn-primary" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Login</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
								 <a class="dropdown-item" href="#">Profile</a> <a class="dropdown-item" href="#">Cart</a><a class="dropdown-item" href="#">Forgot Password</a>
								<div class="dropdown-divider">
								</div> <a class="dropdown-item" href="#">Sign Out</a>
							</div>
						</li>
						</li>
						<li class="nav-item">
							 <a class="nav-link" href="#">Carry Bag <span class="badge badge-default">6</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

