.carousel-item{
	height: 32rem;
}

#search {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	}

#category-button {
	padding-right: 10px;
}

.homepage-image {
	filter: brightness(60%);
   -webkit-filter: brightness(60%);
   -moz-filter: brightness(60%);
   -o-filter: brightness(60%);
   -ms-filter: brightness(60%);
}

ul{
    list-style: none;

}

#suggestion {
    border: tan;
    color:black;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;

}
#suggestion:hover{
    background-color: rgb(235, 229, 229);    
}

/*     trying css       */