<div class="sidenav">
  <div class="sidenav-back-color d-none d-sm-block">
  <div class="sidenav-large-content">
    <ul class="nav nav-pills flex-column">
      <li class="btn btn-light sidebar-text d-flex justify-content-center" (click)="showProfile('userdetails')">
          Personal Information
      </li>
      <li class="btn btn-light sidebar-text d-flex justify-content-center" (click)="showProfile('carrybag')">
          Carry Bag
      </li>
      <li class="btn btn-light sidebar-text d-flex justify-content-center" (click)="showProfile('wishlist')">
        Wish List
        </li>
      <li class="btn btn-light sidebar-text d-flex justify-content-center">
        Subscriptions
      </li>
      <li class="btn btn-light sidebar-text d-flex justify-content-center">
          Add Offers
        </li>
    </ul>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light d-block d-sm-none">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item sidebar-text" (click)="getUserdata()" routerLink='/userprofile'>
        Personal Information
      </li>
      <li class="nav-item sidebar-text">
        Carry Bag
      </li>
      <li class="nav-item sidebar-text" routerLink='/wishlist'>
        Wish List
      </li>
      <li class="nav-item sidebar-text">
        Subscriptions
      </li>
      <li class="nav-item sidebar-text">
        Add Offers
      </li>
    </ul>
  </div>
</nav>
</div>
<div class="main">  
    <!-- <div *ngIf="restaurants == 'userdetails'">
  <h1>UserDetails</h1>{{restaurants}}
      <app-userdetails></app-userdetails>
    </div>
  
    <div *ngIf="restaurants == 'carrybag'">
  <h1>carrybag</h1>{{restaurants}}
      <app-carrybag-offer></app-carrybag-offer>
    </div>
    
    <div *ngIf="restaurants == 'wishlist'">
  <h1>wishlist</h1>{{restaurants}}
      <app-wishlist-offers></app-wishlist-offers>
    </div> -->

  <div [ngSwitch]="restaurants">
  <!-- <b *ngSwitchDefault>No Direction</b> -->
    <div *ngSwitchCase="'userdetails'">
      <h1>UserDetails</h1>{{restaurants}}
      <app-userdetails></app-userdetails>
    </div>
    <div *ngSwitchCase="'carrybag'">
      <h1>carrybag</h1>{{restaurants}}
      <app-carrybag-offer></app-carrybag-offer>
    </div>
    <div *ngSwitchCase="'wishlist'">
      <h1>wishlist</h1>{{restaurants}}
      <app-wishlist-offers></app-wishlist-offers>
    </div>
  </div> 
</div>

<!--   <div *ngIf="restaurants == 'profile'">
  	<app-userdetails></app-userdetails>
  </div>
  <div *ngIf="restaurants == 'carrybag'">
  	<app-carrybag-offer></app-carrybag-offer>
  </div>
  <div *ngIf="restaurants == 'wishlist'">
  	<app-wishlist-offers></app-wishlist-offers>
  </div>
</div> -->