<div class="container">
	<div class="row">
		<div class="col-md-12">
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="#">Home</a>
					</li>
					<li class="breadcrumb-item">
						<a href="#">Library</a>
					</li>
					<li class="breadcrumb-item active">
						Data
					</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-md-2" >
					<img alt="Bootstrap Image Preview" src="http://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded" id= "previewimage"/>
					<img alt="Bootstrap Image Preview" src="http://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded" id= "previewimage"/>
					<img alt="Bootstrap Image Preview" src="http://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded" id= "previewimage"/>
				</div>
				<div class="col-md-4">
					<img alt="Bootstrap Image Preview" src="http://www.layoutit.com/img/sports-q-c-140-140-3.jpg" id ="browseimage"/>
				</div>
				<div class="col-md-6">
					<div class="page-header">
						<h1>
							{{ productName }} 
						</h1>
					</div>
					<div class="row">
						<div class="col-md-6">
							 
							
						</div>
						<div class="col-md-6">
							 
							
						</div>
					</div>
					<div id="card-938170">
						<div class="card">
							<div class="card-header">
								 <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-938170" href="#card-element-19863">Product Description</a>
							</div>
							<div id="card-element-19863" class="collapse">
								<div class="card-block">
									{{productDescription}}
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								 <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-938170" href="#card-element-218113">Product Validity</a>
							</div>
							<div id="card-element-218113" class="collapse">
								<div class="card-block">
									{{productValidity}}
								</div>
							</div>
						</div>
					</div>
					
			</div>
		</div>
	</div>
</div>