<div class="text-white bg-dark" >
    <div class="container">
      <div class="row">
        <div class="p-5 col-md-3">
          <i class="fa fa-5x mb-5 fa-diamond"></i>
          <h3 class="mb-4">OfferShopper</h3>
          <ul class="list-unstyled">
            <a href="#" class="text-white">Home</a>
            <br>
            <a href="#" class="text-white">About us</a>
            <br>
            <a href="#" class="text-white">Shop</a>
            <br>Your Profile
            <br>
            <a href="#" class="text-white">Contact Us</a>
          </ul>
        </div>
        <div class="p-5 col-md-4">
          <h3 class="mb-4">Policy</h3>
          <p>We have a free policy system.
            <br>We make our own terms and condition whenever we feel like. We can modify them as per our interest and requirements.&nbsp;
            <br>
            <br>Feel free to contact us anytime using the information given on the right side.</p>
        </div>
        <div class="p-5 col-md-5">
          <h3>Get in touch</h3>
          <form class="my-4">
            <fieldset class="form-group">
              <label for="exampleInputEmail1">Your Email Id</label>
              <input type="email" class="form-control" placeholder="Enter email"> </fieldset>
            <label for="exampleInputEmail1">Your Message</label>
            <textarea class="form-control" placeholder="Enter Message"> </textarea>
            <br>
            <button type="submit" class="btn btn-outline-light">Submit</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center">© Copyright 2018 OfferShopper - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
