footer {
    background: url("../../../../assets/footer_bg.png")
}
a {
    color: crimson
}

.text-color {
    color: darkkhaki
}

.text-heading {
    text-decoration: bold;
    text-transform: capitalize;
    color: turquoise
}

.text-lead {
    color: lavender
}

.social-media {
    display: inline-flex;
    list-style: none;
    padding-left: 0px;
}

.social-media > li {
    padding: 1rem;

}

.links, .help, .categories {
    padding-left: 0px;
    list-style: none
}